body{
  background-color: blue;
  margin: 0;
}


h1{
  color: #40514E;
  margin-top: 0;
}

div{
  width: 200px;
  height: 200px;
}

.header{
  background-color: #E4F9F5;
  border: 10px solid pink;
}

.red{
  background-color: red;
  margin-left: 220px;
  border:20px solid green;

}

.black{
  background-color: black;
  margin-left: 460px;
  border:10px solid white;
}
