body{
  background-color: blue;
  margin: 0;
}


h1{
  color: #40514E;
  margin-top: 0;
}

div{
  width: 100%;
  text-align: center;
}
img{
  display: block;
  margin: 0 auto;
  position: relative;
}

.header{
  background-color: #E4F9F5;
}

.boxes_container{
  position: relative;
}

.red{
  background-color: red;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
  left: 200px;
  top:200px;

}

.black{
  background-color: black;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 100px;

}

.green{
  background-color: green;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
  left: 0px;
}
